.ad-content {
    position: relative;

    img {
        height: 200px;
        margin: auto;
        width: 90%;
    }

}

.ad-text {
    font-size: 28px;
    width: 500px;
    color: aliceblue;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: auto;
}


.ant-carousel .slick-slide {
    text-align: center;
    height: 220px;
    background: #001529;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
}