.video-panel{
    padding: 20px;
    height: 600px;
}

.chatting-panel{
    width: 400px;
    height: 530px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
}