.video-chatting-panel{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    flex-wrap:wrap;
}

.video-panel{
    display: flex;
    min-width: 800px;
    width: 65%;
    flex-grow: 1;
    max-height: 530px;
    justify-content: center;
}

.chatting-panel{
    width: 30%;
    max-height: 530px;
    flex-grow: 1;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
}