.chatting-box {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.message-input {
    width: 90%;
    align-self: center;
    margin-top: 10px;
}

.message-submit-button {
    margin-top: 10px;
    width: 90%;
    align-self: center;
    margin-bottom: 20px;
}

.scroll-box {
    height: 400px;
}

.loading-container {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

.message-avatar {
    margin: 5px;
}

.message-name {
    font-size: 16px;
    margin-left: 5px;
}

.message-content {
    margin-left: 20px;
    font-size: 18px;
    margin-right: 20px;
}