.page-container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .header-container{
    height: 50px;
    justify-content: flex-end;
    align-items: center;
  }

  .content-container{
    flex: 1;
    padding-left: 5%;
    padding-right: 5%;
  }

  .footer-container{
    height: 100%;
    .footer{
      margin-top: 40px;
    }
  }

}

.vod-content{
  display: flex;
  justify-content: space-around;
  .left-content{
    flex: 3;
    .video-content{
      background: #ffffff;
      min-height: 600px;
    }
    .comment-content{
      min-height: 100px;
      background: #ffffff;
    }
  }
  .right-content{
    flex: 1;
    background: #ffffff;
  }
}






